* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #076324;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr 1fr .1fr;
}

#flexleftOverCardContainer {
    display: flex;
    flex-direction: row;
    grid-column: 2/4;
    grid-row: 1/2;
    align-items: center;
    justify-content: center;
}

#flexFoundationContainer {
    display: flex;
    flex-direction: row;
    grid-column: 5/9;
    grid-row: 1/2;
    align-items: center;
    justify-content: center;

}

#flextableContainer {
    display: flex;
    flex-direction: row;
    grid-column: 2/8;
    grid-row: 2/3;
    align-items: center;
    justify-content: center;
}

.deck {
    position: relative;
    width: 16vmin;
    height: 20vmin;
    border: 2px solid #6E6E6E;
    text-align: center;
    margin: 2vmin;
    background-color: #185A3F;
}

.piles {
    margin-top: 10vmin;
    position: relative;
    height: 30vmin;
    width: 30vmin;
    border: 2px solid #6E6E6E;
    text-align: center;
}

.card {
    position: absolute;
    width: 14vmin;
    height: 19vmin;
    background-color: #F1F1F1;
    box-shadow: 1px -1px 0px rgba(0, 0, 0, 0.2);
}

.card+.card {
    margin-top: 4px;
    margin-left: 2px;
}

.card+.card+.card+.card {
    margin-left: 4px;
    margin-top: 8px;
}

.card+.card+.card+.card+.card {
    margin-left: 6px;
    margin-top: 12px;
}

.waste {
    width: 15vmin;
    height: 20vmin;
    background-color: #185A3F;
    border: 1px dashed #6E6E6E;
}

.card.dragging {
    opacity: 0.5;
}

.piles .card.drag-over {
    border: 2px dashed #000;
}

.hideCard {
    color: transparent;
}

.foundationSlots {
    width: 15vmin;
    height: 20vmin;
    background-color: #185A3F;
    border: 1px dashed #6E6E6E;
}

#restartButton {
    grid-row: 3/4;
    grid-column: 5/6;
    margin: 2vmin;
    background-color: #076324;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#restartButton:hover {
    background-color: red;
}