* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: lavenderblush;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 70% .5fr;


}

#flexleftOverCardContainer {
    display: flex;
    flex-direction: row;
    grid-column: 1/3;
    grid-row: 1/2;
    align-items: center;
    justify-content: center;
}

#flexFoundationContainer {
    display: flex;
    flex-direction: row;
    grid-column: 4/8;
    grid-row: 1/2;
    align-items: center;
    justify-content: center;
}

#flextableContainer {
    display: flex;
    flex-direction: row;
    grid-column: 1/8;
    grid-row: 2/3;
    align-items: center;
    justify-content: center;

}

.deck {
    position: relative;
    height: 60vmin;
    width: 60vmin;
    border: 2px solid yellowgreen;
    text-align: center;
    /* align-items: center;
    justify-content: center; */
}

.piles {
    margin-top: 10vmin;
    position: relative;
    height: 60vmin;
    width: 60vmin;
    border: 2px solid yellow;
    text-align: center;
}

.card {
    /* position: absolute; */
    /* width: 20vmin;
    height: 30vmin; */
    background-color: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.waste {
    width: 20vmin;
    height: 20vmin;
    background-color: azure;
    border: 1px dashed green;
}

.card.dragging {
    opacity: 0.5;
}

.piles .card.drag-over {
    border: 2px dashed #000;
}

.hideCard {
    color: transparent;
}

.foundationSlots {
    width: 20vmin;
    height: 20vmin;
    background-color: azure;
    border: 1px dashed green;
}